@page "/"

<PageTitle>Index</PageTitle>

<h1>Full View</h1>

<br />

<div class="row">
    <div class="col-md-4">
        <TaskList Name="Joe"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Emily"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Ivan"></TaskList>
    </div>
</div>

